body {
    font-family: Arial;
    padding: 25px;
    width: 50%;
    background-color: #111;
    color: aliceblue;
}

img {
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: indianred;
    color: black;
}

.active {
    background-color: red;
}

.left {
    float: left;
}

footer {
    display: block;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    background-color: #000;
}
/*.topBar{
    display: inline;
}*/
.logos{
    display: inline;
}
#mainLink{
    text-decoration: none;
}
/*#pageTitle{
    margin-bottom: 10px;
}*/
#logoImg{
    float: left;
}
.nextButton a{
    background-color: #111; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.nextButton a:hover {
    background-color: indianred;
    color: black;
}
a {
    text-decoration: none;
}