<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exchanges</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div th:insert="fragments/_header :: header"></div>

<h1>Investment Options</h1>
<img class="logos" th:src="@{/img/augurcoin.png}" alt="Augur(REP) Coin">
<img class="logos" th:src="@{/img/litecoin.png}" alt="Litecoin">
<img class="logos" th:src="@{/img/chainlinklogo.jpg}" alt="Chainlink">

<h2>Coins</h2>
<p>
    There are a wide variety of coins to choose from when investing in cryptocurrency, including the ones pictured above
    which are Augur(REP), Litecoin(LTC), and Chainlink(LINK). Different coins are offered based on exchange but there are
    main cryptocurrencies that are offered on most platforms. Those are bitcoin, Etherium, and Litecoin. When deciding which
    coin(s) to invest in, you need to watch their values over time, as well as keep up on current events which could cause
    the price of the coin to either spike up or down.
</p>
<h2>Earning Interest</h2>
<p>
    There are many different strategies when investing in cryptocurrency, but if you are in it for a long term investment,
    you can invest in certain currencies that could gain you up to 4% APR, which is compounding interest. Some of these
    coins are referred to as "stablecoins", which hold their value typically around 1 USD. This can be a decent long term
    investment plan, because it yields a high return, with an extremely low risk.
</p>

<a th:href="@{/learn/bank}"><btn class="nextBtn">Now you're ready to begin!</btn></a>

<p>Content created personally with pictures taken from <a
        th:href="@{https://unsplash.com/}">Unsplash</a>
</p>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>