<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Learn more about crypto</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div th:insert="fragments/_header :: header"></div>

<h1>Learn More</h1>
<img class="left" th:src="@{/img/buildMeasureEarn.jpeg}" alt="Fossil development">
<p>
    Cryptocurrency is a very complex topic. In order to understand the inner workings of how the prices go up and down,
    you will need to research, listen to podcasts, and watch price changes. Experience is important when it comes to
    investing in cryptocurrency so you can't be afraid to lose a little bit of money in order to figure out what you need
    do! Some investments may lead to more knowledge gain than monetary gain, but in my opinion, that is the easiest way to
    learn how to start making money.
</p>
<h2>Podcasts</h2>
<p>
    There are quite a few cryptocurrency websites where they hold regular podcasts, either on the current state of things
    or possibilities for the future. These can be a great tool to help cement your knowledge, or learn new things! Forbes has
    done an excellent job gathering some of the best podcasts <a
        th:href="@{https://www.forbes.com/sites/tatianakoffman/2020/06/19/top-10-crypto-podcasts-of-2020/#4de935f63064}">here.</a>
    Personally, however, I prefer to listen to <a
        th:href="@{https://www.coindesk.com/tag/podcasts}">coindesk podcasts</a>, which seem to be made well with credible information and
    sources.
</p>
<h2>News</h2>
<p>
    There are several sources for news as well. You can find a list of reliable news at either <a
        th:href="@{https://www.coindesk.com}">coindesk.com</a> or <a
        th:href="@{https://cointelegraph.com/}">cointelegraph.com</a>. These sources are specifically for the latest news
    on cryptocurrency. You can also find a lot of news on other investment websites as well, but these websites are
    geared specifically for cryptocurrency, so they will have the most accurate news and predictions.
</p>
<a th:href="@{/}" id="mainLink"><img th:src="@{/img/logo.jpeg}" class="topBar" id="logoImg"/></a>
<a th:href="@{/}"><btn class="nextBtn">You're ready to invest! Back to home</btn></a>
<p>Content created personally with pictures taken from <a
        th:href="@{https://unsplash.com/}">Unsplash</a>
</p>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>